name = "2024PCIVEPMBiome"
uuid = "0007ff0d-c293-43f4-ad92-44c710bdace4"
authors = ["Guilherme Fabur Bottino <gfahurbottino@gmail.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
